<% @order.line_items.each  do |line_item| %>

<div class="col-sm-12">
  <dl class="dl-horizontal">
      <dd><%= image_tag line_item.product.image.tiny %></dd>
    <br>
    <dt>Name: </dt>
      <dd><%= line_item.product.name %></dd>
    <br>
    <dt>Description: </dt>
      <dd><%= line_item.product.description %></dd>
    <br>
    <dt>Quantity: </dt>
      <dd><%= line_item.quantity %></dd>
    <br>
    <dt>Price: </dt>
      <dd>$<%= line_item.item_price %></dd>
  </dl>
</div>
<% end %>

<br>
<dl class="order_total_price">
  <dt>Total price:</dt>
    <dd>$<%= @order.total_cents/100.00 %></dd>
</dl>
